<%- include("partials/header.ejs") %> 

<body>
    <div class="mainBody">
        <form action="/submit" method="POST" class="addFont">
            <label for="token">Input symbol: </label>
            <input class="my-2" type="text" id="token" 
            placeholder="BTC-USD" 
            name="symbolName" 
            required=""
            oninvalid="this.setCustomValidity('Please enter valid symbol from list below.')" 
            oninput="setCustomValidity('')"
            >
            <input class = "addFont btn btn-success m-2 mb-3" type = "submit" id="submitButton">

        </form>
    </div>
<div class ="mainBody">
    <div class="container">
        <h5 class= "addFont"> Supported symbols: </h5>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 border-top">
            <div class="col">
                <ul class = "list-unstyled">
                    <% for( let index = 0; index < 20; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col">
                <ul class = "list-unstyled">
                    <% for( let index = 20; index < 40; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col">
                <ul class = "list-unstyled">
                    <% for( let index = 40; index < 60; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col">
                <ul class = "list-unstyled">
                    <% for( let index = 60; index < 80; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>

            <div class="col">
                <ul class = "list-unstyled">
                    <% for( let index = 80; index < 100; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
                <button class = "addFont btn btn-light mb-2" id="viewMore"> View all</button>
            </div>

            <!-- HIDDEN SYMBOLS  -->

            <div class="col hidden ex">
                <ul class = "list-unstyled">
                    <% for( let index = 100; index < 120; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col hidden ex">
                <ul class = "list-unstyled">
                    <% for( let index = 120; index < 140; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col hidden ex">
                <ul class = "list-unstyled">
                    <% for( let index = 140; index < 160; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
            </div>
            <div class="col hidden ex">
                <ul class = "list-unstyled">
                    <% for( let index = 160; index < allNames.length; index++ ) { %>
                        <li class="addFont"> <%= allNames[index] %></li>
                    <% } %>    
                </ul>
                <button class = "hidden addFont btn btn-dark mb-3" id="viewLess"> View less</button>
            </div>

        </div>

        
    </div>
</div>
<div class = "container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="addFont col-md-4 mb-0 text-body-secondary">© <%= new Date().getFullYear() %> Om Patel</p>
    
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
            </svg>
        </div>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a  id = "footerRef" class="addFont nav-link px-2 text-body-secondary">Find the price of any coin.</a></li>
        </ul>
    </footer>    
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>  
    <script>
        $("#viewMore").css("font-family", "Playfair Display, serif");
        $("#viewMore").click(function(){
            $("#viewMore").css("visibility","hidden");
            $(".hidden").removeClass("hidden");
            $("#viewLess").removeClass("hidden");
        });

        $("#viewLess").css("font-family", "Playfair Display, serif");
        $("#viewLess").click(function(){
            $("#viewMore").css("visibility","visible");
            $(".ex").addClass("hidden");
            $("#viewLess").addClass("hidden");
        });

        $("#footerRef").click(function(){
            $("#token").addClass("redBorder");
            setTimeout( function() { changeBack(); }, 800);
        });

        function changeBack(){
            $("#token").removeClass("redBorder");
        }


    </script>
</body>

</html>

