<%- include("partials/header.ejs") %> 

<body>
    <div class="px-4 py-5 my-5 text-center addFont">
        <h1 class="display-5 fw-bold text-body-emphasis">Info on <%=symbol%></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Price (24hr): <%=price%> <br> Volume (24hr): <%=volume%><br> Last Trade Price: <%=lastPrice%><br></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/"><button type="button" class="btn btn-danger btn-lg px-4 gap-3">Back</button></a>
          </div>
        </div>
      </div>
</body>

</html>